* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 20px;
}
